.real {
  height: 400px;
  width : 100%;
  display: flex;
  align-items : center;
  flex-direction: column;
  background-color: #f7c3f7;
background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
padding: 5rem;
}
.real img {
  margin-top: 40px;
  height: 100px;
}

header div h2 {
  margin-top: 0;
}

