.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#tweet-text {
  background-color:  #f4f1ec;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 6px solid black;
}

article.tweet {
  border-style: solid;
  border-width: 5px 5px;
  color: black;
  margin : 100px;
  flex-direction : column;
  border: solid;
  background-color: lightblue;
  padding: 20px;
  /* margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 700px;
  border: 3px solid grey */
}

.tweet__header {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-top: 0px;
}

.tweet__header img {
  width: 75px;
  width: 100px;
  height: 100px;
}

.tweet__footer {
  display: flex;
  justify-content: flex-end;
}
p.date {
  color: #dd8de7ba;
    margin-right: auto;
    font-size: small;
}
article.tweet:hover {
  overflow-y: auto;
  margin: 20px;
  /* border-color: powderblue; */
  box-shadow: 10px 10px grey;
}

.tweet__content {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
}

h {
  padding-left: 350px;
    padding-top: 28px;
  
}

